/*Corpo*/

main {
  padding-top: 150px;
}

.contact {
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  & h1 {
    text-align: center;
    color: #333;
    font-size: 3rem;
  }
  & form {
    display: flex;
    flex-direction: column;
  }
  & label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
    font-size: 2rem;
    padding: 10px;
  }
  & input,
  textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  & textarea {
    resize: vertical;
    min-height: 100px;
  }
  & button {
    padding: 10px 15px;
    border: none;
    background-color: #ee4343;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  & button:hover {
    background-color: #e01414;
  }
}

/*Fim do Corpo*/

@media screen and (max-width: 1000px) {
  main {
    padding-top: 60px;
  }
}

@media screen and (max-width: 768px) {
  main {
    padding-top: 90px;
  }
}
