/*Corpo*/

main {
  padding-top: 150px;
  margin: 0px 20%;
  max-width: 100%;

  & img {
    display: block;
    padding: 5%;
    max-width: 100%;
    height: auto;
  }
}

#section-1,
#section-2,
#section-3,
#section-4 {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  align-content: center;
  border-bottom: #ee4343 solid 1px;
  padding: 50px 0px;
}

#section-4 {
  border-bottom: 0;
}

.section-1-2,
.section-2-1,
.section-3-2,
.section-4-1 {
  width: 400px;
  height: auto;
  font-family: feather, sans-serif;
  font-size: 1.2rem;
  text-align: center;
  padding: 40px 20px;
  color: #000000;
  background-color: #fcf2f2;
  border-radius: 50px;
}

.section-1-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-1-2 button {
  background-color: #ee4343;
  color: #fafafd;
  padding: 1.2vw;
  font-size: 2vw;
  font-weight: bold;
  border-radius: 15px;
  margin: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.section-1-2 button:hover {
  background-color: #e01414;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.section-1-1,
.section-2-2,
.section-3-1,
.section-4-2 {
  display: flex;
  width: 300px;
  height: auto;
  padding: 40px 20px;

  & img {
    display: block;
    padding: 5%;
    max-width: 100%;
    height: auto;
  }
}

/*Fim do Corpo*/

@media screen and (max-width: 1000px) {
  #section-1,
  #section-2,
  #section-3,
  #section-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 0 30px;
    padding: 25px 0px;
  }
  #section-2,
  #section-4 {
    flex-direction: column-reverse;
  }
  #section-4 {
    border-bottom: 0;
  }
  .section-1-2,
  .section-2-1,
  .section-3-2,
  .section-4-1 {
    padding: 20px;

    & h3 {
      font-size: 1.5rem;
    }
  }
  .section-1-2 button {
    font-size: 2rem;
  }
  .section-1-1,
  .section-2-2,
  .section-3-1,
  .section-4-2 {
    display: flex;
    width: 300px;
    height: auto;
    padding: 40px 20px;

    & img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }
}

@media screen and (max-width: 768px) {
  main {
    margin: 0 5%;
    padding-top: 90px;
  }
  #section-1,
  #section-2,
  #section-3,
  #section-4 {
    gap: 0;

    & img {
      padding: 20px;
    }
  }
  .section-1-2,
  .section-2-1,
  .section-3-2,
  .section-4-1 {
    width: 300px;
    padding: 20px;

    & h3 {
      text-align: center;
      font-family: feather, sans-serif;
      font-size: 1rem;
      padding: 10px;
      font-weight: bold;
    }
    & button {
      font-size: 1.5rem;
      padding: 10px;
    }
  }
  .section-1-1,
  .section-2-2,
  .section-3-1,
  .section-4-2 {
    padding: 5px 0;
    width: 200px;
  }
}
